n8n/workflows/daily_content_cycle.json
{
  "name": "INVISABLE OS — Daily Content Cycle",
  "nodes": [
    {
      "parameters": {
        "rule": { "interval": [ { "field": "cronExpression", "expression": "0 7 * * *" } ] }
      },
      "id": "schedule",
      "name": "Every morning 07:00",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [ 240, 300 ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.INVISABLE_CORE_URL}}/v1/harvest",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{ \"topics\": [\"invisible illness\", \"chronic fatigue\", \"trades mental health\", \"football community resilience\"] }",
        "options": {}
      },
      "id": "harvest",
      "name": "Harvest public signals",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [ 480, 300 ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.INVISABLE_CORE_URL}}/v1/daily/plan",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{ \"candidates_per_slot\": 16, \"persist\": true }",
        "options": {}
      },
      "id": "daily_plan",
      "name": "Plan & queue the day (20 posts)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [ 720, 300 ]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true },
          "combinator": "and",
          "conditions": [
            {
              "leftValue": "={{$json.total}}",
              "rightValue": 0,
              "operator": { "type": "number", "operation": "gt" }
            }
          ]
        }
      },
      "id": "have_posts",
      "name": "Posts queued?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [ 960, 300 ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{$env.INVISABLE_CORE_URL}}/v1/queue?status=pending_review",
        "options": {}
      },
      "id": "queue",
      "name": "Read approval queue",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [ 1200, 240 ]
    },
    {
      "parameters": {
        "content": "The day is generated, gated, scored, spun and **persisted to the approval queue** (status `pending_review`). Nothing publishes automatically — the founder approves in the PWA (`/app`). Approval moves items to the scheduler; the Media Production workflow renders approved video briefs; the Publish step (or `POST /v1/publish/run`) takes due items live.",
        "height": 200,
        "width": 360
      },
      "id": "human_gate_note",
      "name": "Human approval gate (PWA)",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [ 1200, 460 ]
    }
  ],
  "connections": {
    "Every morning 07:00": { "main": [ [ { "node": "Harvest public signals", "type": "main", "index": 0 } ] ] },
    "Harvest public signals": { "main": [ [ { "node": "Plan & queue the day (20 posts)", "type": "main", "index": 0 } ] ] },
    "Plan & queue the day (20 posts)": { "main": [ [ { "node": "Posts queued?", "type": "main", "index": 0 } ] ] },
    "Posts queued?": { "main": [ [ { "node": "Read approval queue", "type": "main", "index": 0 } ], [] ] }
  },
  "settings": { "executionOrder": "v1" },
  "tags": [ { "name": "invisable-os" } ]
}
