n8n/workflows/media_production.json
{
  "name": "INVISABLE OS — Media Production",
  "nodes": [
    {
      "parameters": {
        "rule": { "interval": [ { "field": "cronExpression", "expression": "*/15 * * * *" } ] }
      },
      "id": "schedule",
      "name": "Every 15 minutes",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [ 240, 300 ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{$env.INVISABLE_CORE_URL}}/v1/queue?status=approved",
        "options": {}
      },
      "id": "approved",
      "name": "Get approved items",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [ 480, 300 ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "items",
        "options": {}
      },
      "id": "split",
      "name": "Approved video briefs",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [ 720, 300 ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.INVISABLE_CORE_URL}}/v1/media/finish/{{$json.id}}",
        "options": {}
      },
      "id": "finish",
      "name": "Finish post (produce + assemble)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [ 960, 300 ]
    },
    {
      "parameters": {
        "content": "Polls for approved items and finishes each in one call: /v1/media/finish produces the flywheel assets (ComfyUI/Flux image, ElevenLabs voiceover, Whisper captions) then assembles the final cutdown (FFmpeg). Add ?dam=true to also archive to ResourceSpace. Each backend falls back to dry-run when unconfigured, so the workflow is safe to run anywhere — finished video lands in the media library before its slot.",
        "height": 180,
        "width": 360
      },
      "id": "note",
      "name": "Render pipeline (dry-run safe)",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [ 960, 460 ]
    }
  ],
  "connections": {
    "Every 15 minutes": { "main": [ [ { "node": "Get approved items", "type": "main", "index": 0 } ] ] },
    "Get approved items": { "main": [ [ { "node": "Approved video briefs", "type": "main", "index": 0 } ] ] },
    "Approved video briefs": { "main": [ [ { "node": "Finish post (produce + assemble)", "type": "main", "index": 0 } ] ] }
  },
  "settings": { "executionOrder": "v1" },
  "tags": [ { "name": "invisable-os" } ]
}
