n8n/workflows/media_production.json
{
  "name": "INVISABLE OS — Media Production",
  "nodes": [
    {
      "parameters": {
        "rule": { "interval": [ { "field": "cronExpression", "expression": "*/15 * * * *" } ] }
      },
      "id": "schedule",
      "name": "Every 15 minutes",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [ 240, 300 ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{$env.INVISABLE_CORE_URL}}/v1/queue?status=approved",
        "options": {}
      },
      "id": "approved",
      "name": "Get approved items",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [ 480, 300 ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "items",
        "options": {}
      },
      "id": "split",
      "name": "Approved video briefs",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [ 720, 300 ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.INVISABLE_CORE_URL}}/v1/media/produce/{{$json.id}}",
        "options": {}
      },
      "id": "produce",
      "name": "Render flywheel assets",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [ 960, 300 ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.INVISABLE_CORE_URL}}/v1/media/assemble/{{ $('Approved video briefs').item.json.id }}",
        "options": {}
      },
      "id": "assemble",
      "name": "Assemble final cutdown",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [ 1200, 300 ]
    },
    {
      "parameters": {
        "content": "Polls for approved items and renders them: ComfyUI/Flux (image), ElevenLabs (voiceover), Whisper (captions), FFmpeg (assembly). Each renderer falls back to dry-run when its backend isn't configured, so the workflow is safe to run anywhere. Finished assets land in the media library (and DAM via the integrations).",
        "height": 180,
        "width": 360
      },
      "id": "note",
      "name": "Render pipeline (dry-run safe)",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [ 960, 460 ]
    }
  ],
  "connections": {
    "Every 15 minutes": { "main": [ [ { "node": "Get approved items", "type": "main", "index": 0 } ] ] },
    "Get approved items": { "main": [ [ { "node": "Approved video briefs", "type": "main", "index": 0 } ] ] },
    "Approved video briefs": { "main": [ [ { "node": "Render flywheel assets", "type": "main", "index": 0 } ] ] },
    "Render flywheel assets": { "main": [ [ { "node": "Assemble final cutdown", "type": "main", "index": 0 } ] ] }
  },
  "settings": { "executionOrder": "v1" },
  "tags": [ { "name": "invisable-os" } ]
}
