n8n/workflows/relationship_followups.json
{
  "name": "INVISABLE OS — Relationship Follow-ups",
  "nodes": [
    {
      "parameters": {
        "rule": { "interval": [ { "field": "cronExpression", "expression": "3 9 * * *" } ] }
      },
      "id": "schedule",
      "name": "Every morning 09:03",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [ 240, 300 ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{$env.INVISABLE_CORE_URL}}/v1/relationships/followups",
        "options": {}
      },
      "id": "followups",
      "name": "Relationships due a follow-up",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [ 480, 300 ]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true },
          "combinator": "and",
          "conditions": [
            {
              "leftValue": "={{$json.count}}",
              "rightValue": 0,
              "operator": { "type": "number", "operation": "gt" }
            }
          ]
        }
      },
      "id": "any_due",
      "name": "Any due today?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [ 720, 300 ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "followups",
        "options": {}
      },
      "id": "split",
      "name": "Each follow-up",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [ 960, 240 ]
    },
    {
      "parameters": {
        "content": "Queries `relationship_touch.follow_up_at <= today` via `GET /v1/relationships/followups` and surfaces each due touch so the founder is nudged to keep the relationship warm (PWA notification). Read-only — it never contacts anyone automatically. Log new contacts with `POST /v1/relationships/touch`, setting `follow_up_at` for the next nudge.",
        "height": 180,
        "width": 360
      },
      "id": "note",
      "name": "Founder nudge (read-only)",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [ 960, 440 ]
    }
  ],
  "connections": {
    "Every morning 09:03": { "main": [ [ { "node": "Relationships due a follow-up", "type": "main", "index": 0 } ] ] },
    "Relationships due a follow-up": { "main": [ [ { "node": "Any due today?", "type": "main", "index": 0 } ] ] },
    "Any due today?": { "main": [ [ { "node": "Each follow-up", "type": "main", "index": 0 } ], [] ] }
  },
  "settings": { "executionOrder": "v1" },
  "tags": [ { "name": "invisable-os" } ]
}
